.bar
  .bar-left
    a#pajam-logo.bar-logo.bar-logo-game(href="/sup") p
    span.bar-span Superpower
  a.side-toggle-close(href="#") esc |
.sidebar-header
  span.sidebar-header-span l01 |
  h1.sidebar-header-h1 Пин-Понг
.sidebar-desc
  p Знакомимся с движком, языком TypeScript и создаем свою первую игру на Superpowers!
ul.pages-menu.pages-menu-game.sidebar-list
  li
    a.btn(href="#")
      span index
      p О курсе
  li
    a.btn(href="#") 
      span ch001
      p Введение и План игры
  li
    a.btn(href="#")
      span ch002
      p Подготовка Superpowers
  li
    a.btn(href="#")
      span ch003
      p Программирование игровой логики
  li
    a.btn(href="#")
      span ch004
      p Полировка игры
  li
    a.btn(href="#")
      span ch005
      p Код готовой игры
