section.pages-list-cat
  h2.pages-list-cat-title Курсы
  article.pages-list-cat-item.pages-list-cat-item-game
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug l01
      h3.pages-list-cat-item-title Пин-Понг
      p.pages-list-cat-item-desc Знакомимся с движком, языком TypeScript и создаем свою первую игру на Superpowers!
  article.pages-list-cat-item.pages-list-cat-item-game
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug l02
      h3.pages-list-cat-item-title Крестики-Нолики
      p.pages-list-cat-item-desc Продолжаем знакомится с движком и пишем искуственный интелект, создавая простую игру.
  article.pages-list-cat-item.pages-list-cat-item-game
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug l02
      h3.pages-list-cat-item-title Крестики-Нолики
      p.pages-list-cat-item-desc Продолжаем знакомится с движком и пишем искуственный интелект, создавая простую игру.
