!= partial('_partial/head.jade')
body.pages
	!= partial('_partial/top-bar.jade')
	.pages__top
		header.header
			!= partial('_partial/pages-header.jade')
		nav.pages__menu
			!= partial('_partial/pages-menu.jade')
	!= partial('_partial/pages-list.jade')
	!= partial('_partial/footer.jade')
