section.pages-list-cat
  h2.pages-list-cat-title Игры
  article.pages-list-cat-item.pages-list-cat-item-game
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug sup
      h3.pages-list-cat-item-title Superpowers
      p.pages-list-cat-item-desc Инструмент с открытым исходным кодом для создания 3D и 2D HTML5 игр. Использует язык TypeScript.
  article.pages-list-cat-item.pages-list-cat-item-game
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug def
      h3.pages-list-cat-item-title Defold
      p.pages-list-cat-item-desc Бесплатный мультиплатформенный инструмент для создания 2D игр от компании King. Использует язык Lua.
