if current.path[current.path.length - 3] === 'sup'
  .bottom-bar
    ul.menu.menu--game.menu--artcl
      li.menu__item
        a.menu__link.bottom-bar-toc-toggle(href="#")
          span.menu__slug -toc
          p.menu__name Содержание
else if current.path[current.path.length - 2] === 'log'
  .bottom-bar
    ul.menu.menu--main.menu--artcl
      li.menu__item
        a.menu__link.bottom-bar-toc-toggle(href="#")
          span.menu__slug -log
          p.menu__name История
