if current.source === 'index' || current.path[current.path.length - 2] === 'log'
else
  .artcl-footer
    a.menu.artcl-footer-link(href="https://github.com/pajamhub/dev/edit/master/public/" + current.path.join('/') + ".md")
      span (*^_^)/
      p Если вы знаете, как сделать эту статью лучше, можете изменить её на GitHub! Мы рады любой помощи!
