.artcl-menu
  ul.artcl-menu-list
    if current.path[current.path.length - 3] === 'sup'
      li.artcl-menu-item.artcl-menu-top
        a.artcl-menu-link.artcl-menu-top-toggle.artcl-menu-link-game(href="#") TOP
      li.artcl-menu-item.artcl-menu-toc
        a.artcl-menu-link.artcl-menu-toc-toggle.artcl-menu-link-game(href="#") TOC
