if current.source === 'index'
else
  .artcl-footer
    a.menu.artcl-footer-link.github-edit(href="https://github.com/pajamhub/dev/edit/master/public/" + current.path.join('/') + ".md")
      span (*^_^)/
      p Если вы знаете, как сделать эту статью лучше, можете изменить её на GitHub! Мы рады любой помощи!
