if current.source === 'index' && current.path.length === 1
  p.ascii-title
    | __/\\\\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\________/\\\_        
    |  _\/\\\////////\\\__\/\\\///////////__\/\\\_______\/\\\_       
    |   _\/\\\______\//\\\_\/\\\_____________\//\\\______/\\\__      
    |    _\/\\\_______\/\\\_\/\\\\\\\\\\\______\//\\\____/\\\___     
    |     _\/\\\_______\/\\\_\/\\\///////________\//\\\__/\\\____    
    |      _\/\\\_______\/\\\_\/\\\________________\//\\\/\\\_____   
    |       _\/\\\_______/\\\__\/\\\_________________\//\\\\\______  
    |        _\/\\\\\\\\\\\\/___\/\\\\\\\\\\\\\\\______\//\\\_______ 
    |         _\////////////_____\///////////////________\///________
else if current.path[current.path.length - 2] === 'sup'
  p.ascii-title
    | _____/\\\\\\\\\\\____/\\\________/\\\__/\\\\\\\\\\\\\___        
    |  ___/\\\/////////\\\_\/\\\_______\/\\\_\/\\\/////////\\\_       
    |   __\//\\\______\///__\/\\\_______\/\\\_\/\\\_______\/\\\_      
    |    ___\////\\\_________\/\\\_______\/\\\_\/\\\\\\\\\\\\\/__     
    |     ______\////\\\______\/\\\_______\/\\\_\/\\\/////////____    
    |      _________\////\\\___\/\\\_______\/\\\_\/\\\_____________   
    |       __/\\\______\//\\\__\//\\\______/\\\__\/\\\_____________  
    |        _\///\\\\\\\\\\\/____\///\\\\\\\\\/___\/\\\_____________ 
    |         ___\///////////________\/////////_____\///______________
