if current.path[current.path.length - 3] === 'sup'
  .bar.bottom-bar.bottom-bar-game
    .bar-left
      a.bar-logo-link(href="/sup")
        span.bar-logo.bottom-bar-logo-artcl-game p
        span.bar-slug.bottom-bar-slug-artcl Superpowers
    a.side-toggle-open(href="#") toc |
