section.main-cat
  h2.main-cat-title Игры
  a.main-cat-item-link(href="#")
    article.main-cat-item
      h3.main-cat-item-title Superpowers
      p.main-cat-item-desc Инструмент с открытым исходным кодом для создания 3D и 2D HTML5 игр. Использует язык TypeScript.
