if current.source === 'index' && current.path.length === 1
  ul.menu.menu--main
    for point, slug in public._data
      if _.includes(point.tags, 'menu')
        li.menu__item
          a.menu__link(href= point.link)
            span.menu__slug #{ slug }
            p.menu__name= point.title
else if current.path[current.path.length - 2] === 'sup'
  ul.menu.menu--game
    for point, slug in public.sup._data
      if _.includes(point.tags, 'menu')
        li.menu__item
          a.menu__link(href= point.link)
            span.menu__slug #{ slug }
            p.menu__name= point.title
