.top-bar
  .top-bar__left
    if current.source === 'index' && current.path.length === 1
      a.logo.logo--main(href="http://pajam.pw/") pajam
    else if current.path[current.path.length - 2] === 'about'
      a.logo.logo--main(href="/") pajam
    else if current.path[current.path.length - 2] === 'sup'
      a.logo.logo--game(href="/") p
        span.logo__slug DEV
    else if current.path[current.path.length - 3] === 'sup'
      a.logo.logo--game-artcl(href="/sup") p
        span.logo__slug Sup
    else if current.path[current.path.length - 2] === 'log'
      a.logo.logo--main-artcl(href="/") p
        span.logo__slug DEV
  if current.source === 'index' && current.path.length === 1
    .top-bar__right.top-bar__right--pages
      a.top-bar__link(href="#") другие проекты
  else if current.source === 'index' && current.path.length === 2
    .top-bar__right.top-bar__right--pages
      span.top-bar__path= current.path.join(' / ')
  else 
    .top-bar__right.top-bar__right--artcl
      span.top-bar__path= current.path.join(' / ')
