section.pages-list-cat
  h2.pages-list-cat-title Аудио
  article.pages-list-cat-item.pages-list-cat-item-audio
    a.pages-list-cat-item-link(href="#")
      span.pages-list-cat-item-slug gbr
      h3.pages-list-cat-item-title Gibber
      p.pages-list-cat-item-desc Веб-инструмент для аудио-визуального лайв-коддинга, основанный на языке JavaScript.
