!= partial('../../_partial/head.jade')
body.artcl
  .artcl__back
  .artcl__overlay.artcl__overlay--game
  != partial('../../_partial/sidebar-game.jade')
  != partial('../../_partial/top-bar.jade')
  != partial('../../_partial/artcl-menu.jade')
  main.artcl__text.artcl__text--game
    != yield
  != partial('../../_partial/footer.jade')
  != partial('../../_partial/bottom-bar.jade')
  script(type='text/javascript' src='../../js/sidebar.js')
  script(type='text/javascript' src='../../js/top.js')
  script(type='text/javascript' src='../../js/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();
