p.about__title
  | ██╗  ██╗ ██████╗ ██╗  ██╗
  | ██║  ██║██╔═████╗██║  ██║
  | ███████║██║██╔██║███████║
  | ╚════██║████╔╝██║╚════██║
  |      ██║╚██████╔╝     ██║
  |      ╚═╝ ╚═════╝      ╚═╝
p(style="text-align: center;") Этой страницы не существует. Попробуйте зайти позже или выберите другую.
