!= partial('_partial/head.jade')
body.body-main
	!= partial('_partial/main-top-bar.jade')
	.main-cont
		h1.main-cont-title.title #{ title }
		.main-cont-desc
			p #{ desc }
		.main-cont-yield
			!= yield
		!= partial('_partial/main-cont-menu.jade')
		!= partial('_partial/vers-mob.jade')
		!= partial('_partial/vers.jade')
		!= partial('_partial/game-list.jade')
