.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .5em;
  background: @base0D;
}

.bar-logo-link {
  text-decoration: none;
}

.side-toggle-open {
  font-weight: bold;
  text-decoration: none;
  ::after {
    content: " ~";
  }
  :hover::after {
    content: " <";
  }
}

@media (min-width: @breakpoint-small) {
  .bottom-bar {
    display: none;
  }
}
