.pages-list-cat-title {
  position: relative;
  font-family: @fontOS;
  font-size: @font-size-regular;
  line-height: 1.2em;
  font-weight: normal;
  text-align: right;
  text-transform: uppercase;
  ::before {
    content: ">>>";
    position: absolute;
    left: 0;
    display: block;
    font-family: @fontHack;
    text-align: left;
    color: @base02;
  }
}

.pages-list-cat-item {
  position: relative;
  margin-bottom: @base-line-small;
  border-top: 1px solid @base0D;
  border-bottom: 2px dashed @base02;
}

.pages-list-cat-item-link {
  display: block;
  text-decoration: none;
  color: @base05;
  :hover {
    cursor: pointer;
    color: @base07;
    > .pages-list-cat-item-slug {
      color: @base07;
      transition: .5s;
      ::after {
        color: @base07;
        transition: .5s;
      }
    }
    > .pages-list-cat-item-title::after {
      opacity: 1;
      transition: .5s;
    }
  }
}

.pages-list-cat-item-slug {
  display: inline;
  color: @base02;
  transition: .2s;
  ::after {
    content: " | ";
  }
}

.pages-list-cat-item-title {
  display: inline;
  font-family: @fontHack;
  font-size: @font-size-regular;
  font-weight: bold;
  line-height: 2em;
  color: @base06;
  ::after {
    content: "~>";
    position: absolute;
    right: 0em;
    display: inline;
    text-align: right;
    color: @base06;
    opacity: 0;
    transition: .2s;
  }
}

.pages-list-cat-item-desc {
  margin: 0;
  padding: .5em 0;
  border-top: 2px dashed @base02;
}
