!= partial('../_partial/head.jade')
body.pages
  != partial('../_partial/top-bar.jade')
  .about
    p.about__title
      | :::::::::  :::::::::: :::     :::
      | :+:    :+: :+:        :+:     :+:
      | +:+    +:+ +:+        +:+     +:+
      | +#+    +:+ +#++:++#   +#+     +:+
      | +#+    +#+ +#+         +#+   +#+ 
      | #+#    #+# #+#          #+#+#+#  
      | #########  ##########     ###    
    != yield
