!= partial('../_partial/head.jade')
body.pages-body
  != partial('../_partial/top-bar.jade')
  .abo-cont
    p.abo-cont-title
      | :::::::::  :::::::::: :::     :::
      | :+:    :+: :+:        :+:     :+:
      | +:+    +:+ +:+        +:+     +:+
      | +#+    +:+ +#++:++#   +#+     +:+
      | +#+    +#+ +#+         +#+   +#+ 
      | #+#    #+# #+#          #+#+#+#  
      | #########  ##########     ###    
    != yield
