@keyframes bar-logo-main {
  0% {
    color: @base00;
  }
  50% {
    color: @base0D;
  }
  100% {
    color: @base00;
  }
}

@keyframes bar-logo-game {
  0% {
    color: @base00;
  }
  50% {
    color: @base0C;
  }
  100% {
    color: @base00;
  }
}

@keyframes bar-logo-game-artcl {
  0% {
    color: @base0C;
  }
  50% {
    color: @base07;
  }
  100% {
    color: @base0C;
  }
}
