// HACK

@font-face {
  font-family: Hack;
  src: url(../fonts/hack.ttf);
}

@font-face {
  font-family: Hack;
  src: url(../fonts/hackbold.ttf);

  font-weight: bold;
}

@font-face {
  font-family: Hack;
  src: url(../fonts/hackbolditalic.ttf);

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Hack;
  src: url(../fonts/hackitalic.ttf);

  font-style: italic;
}

// OPEN SANS

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSansRegular.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSansBold.ttf);

  font-weight: bold;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSansBoldItalic.ttf);

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSansItalic.ttf);

  font-style: italic;
}
